body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    color: white;
}

.options {
    margin-left: auto;
    margin-right: auto;
}

.video {
    margin-top: 40%;
    display: inline;
    color: white;
}

.download,
.delete {
    margin-left: 10px;
    height: 30px;
    display: inline;
}

input {
    display: inline;
}

p {
    display: inline;
    color: white;
}

.delete:hover,
.download:hover {
    cursor: pointer;
}

.videoContainer {
    margin-left: auto;
    margin-right: auto;
}

.thumbnail {
    display: block;
}

#downloader {
    margin-bottom: 2%;
}

.row {
    margin-bottom: 3%;
}